<% title @student.name %>

<p>
  <strong>Código:</strong>
  <%= @student.code %>
</p>
<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<h2>Calificaciones</h2>

<p>
  Haz click en alguna celda para modificar la calificación de <%= @student.first_name %> en esa actividad.
</p>

<table class="single_student_grades">
  <tr>
    <th>Actividad</th>
    <th>Porcentaje</th>
    <th>Calificación</th>
  </tr>
  
  <% Activity.all.each do |activity| %>
    <tr>
      <td><%= activity.name %></td>
      <td><%= activity.percentage %>%</td>
      <td class="grade activity_<%= activity.id %> student_<%= @student.id %>">
        <%= render "grades/grade", :grade => @student.grade_for(activity) %>
      </td>
    </tr>
  <% end %>
  <tr>
      <td></td>
      <td></td>
      <td class="weighted_average"><%= @student.weighted_average %></td>
  </tr>
</table>

<p>
  <%= link_to "Editar datos básicos", edit_student_path(@student) %> |
  <%= link_to "Suprimir", @student, :confirm => '¿Estás seguro?', :method => :delete %> |
  <%= link_to "Volver a la lista de estudiantes", students_path %>
</p>
