<% title "Activity" %>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>
<p>
  <strong>Date:</strong>
  <%= @activity.date %>
</p>
<p>
  <strong>Percentage:</strong>
  <%= @activity.percentage %>
</p>

<p>
  <%= link_to "Edit", edit_activity_path(@activity) %> |
  <%= link_to "Destroy", @activity, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", activities_path %>
</p>
